.App {
  text-align: left;
}

.App p {
  padding-left: 40px;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    fill: lightblue
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.URLform {
  margin: 5px auto;
  width: 90%;
}

.URLform * {
  margin: 5px auto;
  width: 90%;
}

.RESTmethods  {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.RESTmethods+button {
  width: 80px;
  height: 40px;
  margin: 0 3em;
  padding: 1em;
  color: white;
  border-radius: 4px;
}

.RESTunselected {
  background-color: black;
  color: white;
}

.RESTselected {
  background-color: white;
  color: black;
}

.method:hover {
  border: 3px solid red;
}

.run {
  width: 60px;
  height: 40px;
  margin: 0 3em;
  border: 3px solid black;
  border-radius: 2px;
  padding: 1em;
  background-color: white;
  color: black;
}

.run:hover {
  background-color: gray;
}

.Interface {
  min-height: 50vh;
}

.results {
  width: 90%;
  margin: 5px auto;
  min-height: 60vh;
  border: 5px solid grey;
  align-items: left;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
